In [42]:
import os
import pandas as pd
import numpy as np

In [43]:
validation_set = pd.DataFrame()
df = pd.read_csv('./total.csv')
df

,img_path,person,AU1,AU2,AU4,AU6,AU7,AU10,AU12,AU14,AU15,AU17,AU23,AU24
0,BP4D/Images/2F23_10/1001.jpg,2F23,1,1,0,0,0,0,0,0,0,0,0,0
1,BP4D/Images/2F23_10/1002.jpg,2F23,1,1,0,0,0,0,0,0,0,0,0,0
2,BP4D/Images/2F23_10/1003.jpg,2F23,1,1,0,0,0,0,0,0,0,0,0,0
3,BP4D/Images/2F23_10/1004.jpg,2F23,1,1,0,0,0,0,0,0,0,0,0,0
4,BP4D/Images/2F23_10/1005.jpg,2F23,1,1,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
142160,BP4D/Images/2M09_10/670.jpg,2M09,0,0,1,0,0,1,0,1,1,1,1,1
142161,BP4D/Images/2M09_10/671.jpg,2M09,0,0,0,0,0,1,0,1,1,1,1,1
142162,BP4D/Images/2M09_10/672.jpg,2M09,0,0,0,0,0,1,0,1,1,1,1,1
142163,BP4D/Images/2M09_10/673.jpg,2M09,0,0,0,0,0,1,0,1,1,1,1,1
142164,BP4D/Images/2M09_10/674.jpg,2M09,0,0,0,0,0,1,0,1,1,1,1,1

In [44]:
unique_persons = df['person'].drop_duplicates()

In [45]:
len(unique_persons)

41

In [46]:
for person in unique_persons:
    person_df = df[df['person'] == person]  # 筛选出当前 person 的所有样本
    
    # 计算需要抽取的样本数量
    num_samples = int(len(person_df) * 0.1)
    
    # 如果样本数量为 0，跳过当前 person
    if num_samples == 0:
        print(f"警告：{person} 的样本数量太少，无法抽取 10%，跳过。")
        continue
    
    sampled_df = person_df.sample(n=num_samples, replace=False)  # 抽取指定数量的样本
    
    validation_set = pd.concat([validation_set, sampled_df], ignore_index=True)  # 将抽取的样本添加到验证集中

In [47]:
validation_set

,img_path,person,AU1,AU2,AU4,AU6,AU7,AU10,AU12,AU14,AU15,AU17,AU23,AU24
0,BP4D/Images/2F23_03/1132.jpg,2F23,1,0,1,0,1,0,0,0,0,1,0,0
1,BP4D/Images/2F23_13/123.jpg,2F23,1,1,1,1,1,1,1,1,0,0,0,0
2,BP4D/Images/2F23_08/846.jpg,2F23,1,1,0,1,1,1,1,1,1,1,1,0
3,BP4D/Images/2F23_07/230.jpg,2F23,1,0,0,0,1,0,0,1,1,1,0,1
4,BP4D/Images/2F23_10/1212.jpg,2F23,0,1,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14194,BP4D/Images/2M09_01/210.jpg,2M09,0,0,0,0,0,0,1,0,0,0,0,0
14195,BP4D/Images/2M09_11/1183.jpg,2M09,0,0,0,1,1,1,1,1,0,0,0,0
14196,BP4D/Images/2M09_09/603.jpg,2M09,0,0,0,1,1,0,1,1,0,0,0,0
14197,BP4D/Images/2M09_13/37.jpg,2M09,0,0,1,1,1,1,0,0,1,1,0,0
14198,BP4D/Images/2M09_13/113.jpg,2M09,0,1,1,1,1,1,0,1,0,1,0,0

In [53]:
validation_set.to_csv('total_val.csv', index=None)

In [52]:
len(validation_set['person'].drop_duplicates())

41

In [49]:
# 获取验证集中的 img-path 列表
img_paths_to_remove = validation_set['img_path'].tolist()

# 从原始 DataFrame df 中删除行
df = df[~df['img_path'].isin(img_paths_to_remove)]

# 打印移除行后的 DataFrame df 的大小，以进行验证
print("移除行后的 DataFrame df 的大小：", df.shape)

移除行后的 DataFrame df 的大小： (127966, 14)

In [55]:
df.to_csv('total_train.csv', index=None)

In [54]:
len(df) + len(validation_set)

142165

In [51]:
len(df['person'].drop_duplicates())

41